n8n/subworkflow-inscribir-coleador.json
{
  "name": "SGC FEVECO - Tool - Inscribir Coleador",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "nombre", "type": "string" },
            { "name": "cedula", "type": "string" },
            { "name": "edad", "type": "string" },
            { "name": "equino", "type": "string" },
            { "name": "propietario", "type": "string" },
            { "name": "categoria", "type": "string" }
          ]
        }
      },
      "id": "c1b2c3d4-0001-4000-8000-000000000001",
      "name": "Cuando la llama la herramienta",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-680, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst faltantes = ['nombre', 'cedula', 'edad', 'equino', 'propietario'].filter(campo => !input[campo] || String(input[campo]).trim() === '');\n\nif (faltantes.length > 0) {\n  return [{ json: { error: true, output: `Faltan datos obligatorios: ${faltantes.join(', ')}.` } }];\n}\n\nconst edad = parseInt(input.edad, 10);\nif (isNaN(edad) || edad < 12 || edad > 99) {\n  return [{ json: { error: true, output: 'La edad debe ser un número entre 12 y 99 años.' } }];\n}\n\nlet categoria = (input.categoria || '').trim();\nif (!categoria) {\n  const bandas = [\n    [12, 14, 'Pre-Infantil (12-14)'],\n    [15, 17, 'Infantil (15-17)'],\n    [18, 23, 'C (18-23)'],\n    [24, 31, 'B (24-31)'],\n    [32, 39, 'A (32-39)'],\n    [40, 49, 'AA (40-49)'],\n    [50, 59, 'Master (50-59)'],\n    [60, 99, 'Super Master (60+)']\n  ];\n  const match = bandas.find(([min, max]) => edad >= min && edad <= max);\n  categoria = match ? match[2] : 'C (18-23)';\n}\n\nreturn [{\n  json: {\n    error: false,\n    nombre: String(input.nombre).trim(),\n    cedula: String(input.cedula).trim(),\n    edad: String(edad),\n    equino: String(input.equino).trim(),\n    propietario: String(input.propietario).trim(),\n    categoria\n  }\n}];"
      },
      "id": "c1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validar y Calcular Categoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-datos-invalidos",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "¿Datos invalidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/{{$env.FIRESTORE_PROJECT_ID}}/databases/(default)/documents:runQuery",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"structuredQuery\": { \"from\": [ { \"collectionId\": \"coleadores\" } ], \"where\": { \"fieldFilter\": { \"field\": { \"fieldPath\": \"cedula\" }, \"op\": \"EQUAL\", \"value\": { \"stringValue\": $json.cedula } } }, \"limit\": 1 } } }}",
        "options": {}
      },
      "id": "c1b2c3d4-0004-4000-8000-000000000004",
      "name": "Verificar Cedula Duplicada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, -80],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
          "name": "Google Service Account - SGC FEVECO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-existe-doc",
              "leftValue": "={{ $json.document }}",
              "rightValue": "",
              "operator": { "type": "object", "operation": "exists" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1b2c3d4-0005-4000-8000-000000000005",
      "name": "¿Cedula ya existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [280, -80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/{{$env.FIRESTORE_PROJECT_ID}}/databases/(default)/documents/coleadores",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"fields\": { \"nombre\": { \"stringValue\": $('Validar y Calcular Categoria').item.json.nombre }, \"cedula\": { \"stringValue\": $('Validar y Calcular Categoria').item.json.cedula }, \"edad\": { \"stringValue\": $('Validar y Calcular Categoria').item.json.edad }, \"categoria\": { \"stringValue\": $('Validar y Calcular Categoria').item.json.categoria }, \"equino\": { \"stringValue\": $('Validar y Calcular Categoria').item.json.equino }, \"propietario\": { \"stringValue\": $('Validar y Calcular Categoria').item.json.propietario }, \"fecha_registro\": { \"timestampValue\": $now.toISO() } } } }}",
        "options": {}
      },
      "id": "c1b2c3d4-0006-4000-8000-000000000006",
      "name": "Crear Coleador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, -160],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
          "name": "Google Service Account - SGC FEVECO"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Validar y Calcular Categoria').first().json;\nreturn [{ json: { output: `✅ Coleador inscrito con éxito.\\n\\nNombre: ${d.nombre}\\nCédula: ${d.cedula}\\nEdad: ${d.edad}\\nCategoría: ${d.categoria}\\nEquino: ${d.equino}\\nPropietario: ${d.propietario}` } }];"
      },
      "id": "c1b2c3d4-0007-4000-8000-000000000007",
      "name": "Mensaje de Exito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, -160]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Validar y Calcular Categoria').first().json;\nreturn [{ json: { output: `⚠️ No se pudo inscribir: ya existe un coleador registrado con la cédula ${d.cedula}.` } }];"
      },
      "id": "c1b2c3d4-0008-4000-8000-000000000008",
      "name": "Mensaje Cedula Duplicada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 40]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Validar y Calcular Categoria').first().json;\nreturn [{ json: { output: d.output } }];"
      },
      "id": "c1b2c3d4-0009-4000-8000-000000000009",
      "name": "Mensaje de Validacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 120]
    }
  ],
  "connections": {
    "Cuando la llama la herramienta": {
      "main": [[{ "node": "Validar y Calcular Categoria", "type": "main", "index": 0 }]]
    },
    "Validar y Calcular Categoria": {
      "main": [[{ "node": "¿Datos invalidos?", "type": "main", "index": 0 }]]
    },
    "¿Datos invalidos?": {
      "main": [
        [{ "node": "Mensaje de Validacion", "type": "main", "index": 0 }],
        [{ "node": "Verificar Cedula Duplicada", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Cedula Duplicada": {
      "main": [[{ "node": "¿Cedula ya existe?", "type": "main", "index": 0 }]]
    },
    "¿Cedula ya existe?": {
      "main": [
        [{ "node": "Mensaje Cedula Duplicada", "type": "main", "index": 0 }],
        [{ "node": "Crear Coleador", "type": "main", "index": 0 }]
      ]
    },
    "Crear Coleador": {
      "main": [[{ "node": "Mensaje de Exito", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
