n8n/workflow-telegram-bot.json
{
  "name": "SGC FEVECO - Bot de Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "e1b2c3d4-0001-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-780, 200],
      "webhookId": "REPLACE_AFTER_IMPORT",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot - SGC FEVECO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres el asistente virtual del Sistema de Gestión de Coleo (SGC FEVECO), Mesa Técnica Digital. Respondes en español venezolano, de forma breve, clara y profesional, usando emojis con moderación.\n\nTu trabajo es ayudar a la mesa técnica y a los usuarios del evento de coleo con:\n1. Consultar estadísticas y conteos de la nómina de coleadores (usa la herramienta de estadísticas).\n2. Buscar un coleador por nombre o cédula (usa la herramienta de búsqueda).\n3. Inscribir un nuevo coleador cuando el usuario te dé los datos: nombre, cédula, edad, nombre del equino y propietario. La categoría FEVECO se calcula automáticamente según la edad si el usuario no la indica. Antes de inscribir, confirma con el usuario que los datos son correctos si notas algo ambiguo o incompleto, y nunca inventes datos que el usuario no te dio.\n4. Generar un sorteo rápido y no oficial de turnos (Coso, Centro, Tapón, Puerta) cuando el usuario lo pida, aclarando siempre que es referencial y no reemplaza el sorteo oficial del sistema web.\n\nReglas importantes:\n- Solo trabajas sobre la nómina de coleadores actualmente inscrita en Firebase. No inventes datos de cómputos de manga, sanciones, temporadas o eventos: esas funciones aún no están conectadas a este bot.\n- Si te piden algo que no puedes hacer todavía (por ejemplo cómputos de manga, auditoría o respaldo), explica amablemente que esa función llegará cuando se actualice el backend del sistema, y sugiere hacerlo desde la app web.\n- Si una herramienta devuelve un error o un dato faltante, comunícalo con claridad al usuario en vez de inventar una respuesta."
        }
      },
      "id": "e1b2c3d4-0002-4000-8000-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-480, 200]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "e1b2c3d4-0003-4000-8000-000000000003",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-620, 460],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI - SGC FEVECO"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 12
      },
      "id": "e1b2c3d4-0004-4000-8000-000000000004",
      "name": "Memoria por Chat",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-460, 460]
    },
    {
      "parameters": {
        "name": "consultar_estadisticas",
        "description": "Devuelve el total de coleadores inscritos y el desglose por categoría FEVECO. Úsala cuando pidan estadísticas, conteos o totales de la nómina.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_ESTADISTICAS_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "SGC FEVECO - Tool - Estadisticas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000005",
      "name": "Herramienta - Estadisticas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [-260, 460]
    },
    {
      "parameters": {
        "name": "buscar_coleador",
        "description": "Busca uno o varios coleadores por nombre o cédula dentro de la nómina activa. Úsala cuando pregunten por un coleador específico.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_BUSCAR_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "SGC FEVECO - Tool - Buscar Coleador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'Nombre o cédula del coleador a buscar', 'string') }}"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "e1b2c3d4-0006-4000-8000-000000000006",
      "name": "Herramienta - Buscar Coleador",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [-60, 460]
    },
    {
      "parameters": {
        "name": "inscribir_coleador",
        "description": "Inscribe un nuevo coleador en la nómina activa. Requiere nombre, cédula, edad, nombre del equino y propietario. La categoría es opcional: si no se indica, se calcula automáticamente según la edad. Rechaza cédulas duplicadas.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_INSCRIBIR_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "SGC FEVECO - Tool - Inscribir Coleador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre', 'Nombre completo del coleador', 'string') }}",
            "cedula": "={{ $fromAI('cedula', 'Cédula de identidad, ej. V-12345678', 'string') }}",
            "edad": "={{ $fromAI('edad', 'Edad del coleador en años', 'string') }}",
            "equino": "={{ $fromAI('equino', 'Nombre del equino', 'string') }}",
            "propietario": "={{ $fromAI('propietario', 'Nombre del propietario del equino', 'string') }}",
            "categoria": "={{ $fromAI('categoria', 'Categoría FEVECO si el usuario la indicó explícitamente, si no dejar vacío', 'string') }}"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "e1b2c3d4-0007-4000-8000-000000000007",
      "name": "Herramienta - Inscribir Coleador",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [140, 460]
    },
    {
      "parameters": {
        "name": "sorteo_rapido",
        "description": "Genera un sorteo rápido y no oficial de turnos (Coso, Centro, Tapón, Puerta) a partir de la nómina actual. Úsala cuando pidan un sorteo rápido o de prueba por chat. Aclara siempre que no reemplaza el sorteo oficial del sistema web.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_SORTEO_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "SGC FEVECO - Tool - Sorteo Rapido"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "e1b2c3d4-0008-4000-8000-000000000008",
      "name": "Herramienta - Sorteo Rapido",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [340, 460]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "e1b2c3d4-0009-4000-8000-000000000009",
      "name": "Responder en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-200, 200],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot - SGC FEVECO"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Responder en Telegram", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memoria por Chat": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Herramienta - Estadisticas": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Herramienta - Buscar Coleador": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Herramienta - Inscribir Coleador": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Herramienta - Sorteo Rapido": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
